Body {
Background: papayawhip;
Margin: 0 auto;
Font-family: didot;
Font-size: 15px;
Text-align: center;
Padding-bottom: 20px;
}
h1 {
Font-size: 60px;
Font-family: marker felt;
Text-align: center;
Color: DarkSlateGrey
}
Ul {
List-style-type: none;
margin: 0px;
Padding: 0px;
Overflow: hidden;
Float: left;
Border: 1px solid SlateGrey;
}
li {
float: center;
Text-align: center;
Border-bottom: 1px solid SlateGrey;
}
li a {
display: block;
Color: SlateGrey;
Padding: 20px 30px;
Background-color: Honeydew;
Text-decoration: none;
Text-align: center;
}
Li:last-child {
Border-bottom:none;
}
P {
Font-size: 20px;
Font-family: didot;
Text-align: center;
}
h2 {
Font-size: 20px;
Font-family: marker felt;
Text-align: center;
Color: DarkSlateGrey
}
h3 {
Font-size: 20px;
Font-family: marker felt;
Text-align: center;
Color: DarkSlateGrey
}
h4 {
Font-size: 20px;
Font-family: marker felt;
Text-align: center;
Color: DarkSlateGrey
}
h5 {
Font-size: 20px;
Font-family: marker felt;
Text-align: center;
Color: DarkSlateGrey
}